server:
  port: 5432
spring:
  datasource:
    url: jdbc:postgres://ec2-23-20-224-166.compute-1.amazonaws.com:5432/d7p3v91r7gp8q0?createDatabaseIfNotExist=true&useUnicode=true&useJDBCCompliantTimezoneShift=true&useLegacyDatetimeCode=false&serverTimezone=Asia/Jakarta&useSSL=false
    username: xqhaudujqjewng
    password: 5ddedab24927b934bd3abcb315cc5789e9b938ce72a73f5ecee9ea28775950b6
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
  messages:
    basename: base
  mail:
    default-encoding: UTF-8
    host: smtp.gmail.com
    username: romijatmiko033@gmail.com
    password: vjvccruvgqowfrsw
    port: 587
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
          connectiontimeout: 30000
          timeout: 30000
    protocol: smtp
    test-connection: false
